In [7]:
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('movies.db')
print('Connected successful to the database')


conn.execute(''' CREATE TABLE IF NOT EXISTS Movies(id int primary key, moviename text not null,Seats int ,price int);''')
print('\nMovie Theater Active')

def newmovie(_id,mname,tseats,_price):
        conn.execute(' Insert Into Movies(id,moviename, Seats,price) Values({},{},{},{});'.format(_id,mname,tseats,_price))

def showmoviesall():
    print('\nAll Movies Played')

    cursor= conn.execute(''' Select id,moviename, Seats,price From Movies ''')
    for row in cursor:
        print('Movie Id:', row[0])
        print('Movie Name:', row[1])
        print('Seats Available', row[2])
        print('Ticket Price:', row[3])






if __name__== '__main__':


    movies = [
        (1,"The Hunger Games: Catching Fire", 100,120),
        (2,"Wreck-It Ralph", 70,100),
        (3,"Her", 80,122)
        ]
    conn.executemany(""" INSERT INTO Movies(
        id,moviename, Seats,price) VALUES(?,?,?,?)
        """, movies)
    conn.commit()

    showmoviesall()


    newmovie(4,"American Pie",120,200)

    showmoviesall()

Connected successful to the database

Movie Theater Active

All Movies Played
('Movie Id:', 1)
('Movie Name:', u'The Hunger Games: Catching Fire')
('Seats Available', 100)
('Ticket Price:', 120)
('Movie Id:', 2)
('Movie Name:', u'Wreck-It Ralph')
('Seats Available', 70)
('Ticket Price:', 100)
('Movie Id:', 3)
('Movie Name:', u'Her')
('Seats Available', 80)
('Ticket Price:', 122)

OperationalError: near "Pie": syntax error